---
interface Props {
  elementFormate: any;
  vueActuelle: string;
}

const { elementFormate, vueActuelle } = Astro.props;

const donneesDynamiques = vueActuelle === 'syntaxe' 
  ? elementFormate.syntaxeFormated 
  : elementFormate.attributsFormates;
---

<article id={`article-${elementFormate.balise}`} class={`article-${elementFormate.balise}`}>
  <header class="articleHeader">
    <h1 class="elementName">{elementFormate.balise}</h1>
  </header>
  
  <section class="description">
    <h2 class="description_title">Description</h2>
    <div class="description_container">
      <p class="description_container-text">{elementFormate.description}</p>
    </div>
  </section>

  <section id={`section-${vueActuelle}`} class={`section-${vueActuelle}`}>
    <h2 class={`${vueActuelle}_title`}>
      {vueActuelle.charAt(0).toUpperCase() + vueActuelle.slice(1)}
    </h2>
    <div class="section_content">
      {vueActuelle === 'syntaxe' ? (
        donneesDynamiques.map((item: any) => (
          <div class="syntaxe_block">
            <h3 class="syntaxe_block-title">{item.titre}</h3>
            <pre><code>{item.code}</code></pre>
          </div>
        ))
      ) : (
        donneesDynamiques.map((item: any) => (
          <dl class="attribut-definition-list">
            <dt class="attribut_name">
              {item.nom} 
              <span class="attribut_type">({item.type})</span>
            </dt>
            <dd class="attribut_description">{item.detail}</dd>
            {item.valeursPermises && item.valeursPermises.length > 0 && (
              <dd class="attribut_valeurs-section">
                <div class="attribut_valeurs-container">
                  <h4>Valeurs possibles :</h4>
                  <ul class="attribut_valeurs-list">
                    {item.valeursPermises.map((val: string) => <li>{val}</li>)}
                  </ul>
                </div>
              </dd>
            )}
          </dl>
        ))
      )}
    </div>
  </section>
</article>
